* {
    font-family: Verdana, Geneva, sans-serif;
}

body {
	padding: 10%;
}

li {
	padding: 10px;
}
.word {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 800%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fakeButton {
	background-color: black;
	color: white;
	width: 120px;
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

.checkbox {
	height: 15px;
	width: 15px;
	border-color: black;
}

#error {
	color: red;
	padding: 5px;
	border: 1px solid red;
	margin: 10px 0 10px 0;
	display: none;	
}

#intro, #survey, #visualTest, #audioTest, #endTest, #startpage {display: none;}

#audioButton, #visualButton {display: none;}